In [ ]:
pip install textattack

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting textattack
  Downloading textattack-0.3.8-py3-none-any.whl (418 kB)
     |████████████████████████████████| 418 kB 28.4 MB/s
Requirement already satisfied: pandas>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from textattack) (1.3.5)
Requirement already satisfied: jieba in /usr/local/lib/python3.8/dist-packages (from textattack) (0.42.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.8/dist-packages (from textattack) (1.21.6)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from textattack) (1.7.3)
Requirement already satisfied: torch!=1.8,>=1.7.0 in /usr/local/lib/python3.8/dist-packages (from textattack) (1.13.0+cu116)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from textattack) (1.7.1)
Collecting terminaltables
  Downloading terminaltables-3.1.10-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: editdistance in /usr/local/lib/python3.8/dist-packages (from textattack) (0.5.3)
Collecting lru-dict
  Downloading lru_dict-1.1.8-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (29 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from textattack) (3.8.0)
Collecting flair
  Downloading flair-0.11.3-py3-none-any.whl (401 kB)
     |████████████████████████████████| 401 kB 71.3 MB/s
Collecting transformers>=4.21.0
  Downloading transformers-4.25.1-py3-none-any.whl (5.8 MB)
     |████████████████████████████████| 5.8 MB 59.8 MB/s
Requirement already satisfied: more-itertools in /usr/local/lib/python3.8/dist-packages (from textattack) (9.0.0)
Collecting pinyin==0.4.0
  Downloading pinyin-0.4.0.tar.gz (3.6 MB)
     |████████████████████████████████| 3.6 MB 52.4 MB/s
Requirement already satisfied: click<8.1.0 in /usr/local/lib/python3.8/dist-packages (from textattack) (7.1.2)
Collecting language-tool-python
  Downloading language_tool_python-2.7.1-py3-none-any.whl (34 kB)
Collecting bert-score>=0.3.5
  Downloading bert_score-0.3.12-py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 9.3 MB/s
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (from textattack) (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from textattack) (4.64.1)
Collecting num2words
  Downloading num2words-0.5.12-py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 86.7 MB/s
Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
Collecting pycld2
  Downloading pycld2-0.41.tar.gz (41.4 MB)
     |████████████████████████████████| 41.4 MB 1.3 MB/s
Collecting OpenHowNet
  Downloading OpenHowNet-2.0-py3-none-any.whl (18 kB)
Collecting lemminflect
  Downloading lemminflect-0.2.3-py3-none-any.whl (769 kB)
     |████████████████████████████████| 769 kB 69.4 MB/s
Collecting datasets==2.4.0
  Downloading datasets-2.4.0-py3-none-any.whl (365 kB)
     |████████████████████████████████| 365 kB 77.0 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from datasets==2.4.0->textattack) (21.3)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.8/dist-packages (from datasets==2.4.0->textattack) (3.8.3)
Requirement already satisfied: pyarrow>=6.0.0 in /usr/local/lib/python3.8/dist-packages (from datasets==2.4.0->textattack) (9.0.0)
Collecting dill<0.3.6
  Downloading dill-0.3.5.1-py2.py3-none-any.whl (95 kB)
     |████████████████████████████████| 95 kB 6.6 MB/s
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.8/dist-packages (from datasets==2.4.0->textattack) (2.23.0)
Requirement already satisfied: fsspec[http]>=2021.11.1 in /usr/local/lib/python3.8/dist-packages (from datasets==2.4.0->textattack) (2022.11.0)
Collecting huggingface-hub<1.0.0,>=0.1.0
  Downloading huggingface_hub-0.11.1-py3-none-any.whl (182 kB)
     |████████████████████████████████| 182 kB 81.2 MB/s
Collecting multiprocess
  Downloading multiprocess-0.70.14-py38-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 77.3 MB/s
Collecting xxhash
  Downloading xxhash-3.1.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (212 kB)
     |████████████████████████████████| 212 kB 79.0 MB/s
Collecting responses<0.19
  Downloading responses-0.18.0-py3-none-any.whl (38 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from bert-score>=0.3.5->textattack) (3.2.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets==2.4.0->textattack) (2.1.1)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets==2.4.0->textattack) (4.0.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets==2.4.0->textattack) (6.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets==2.4.0->textattack) (1.8.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets==2.4.0->textattack) (22.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets==2.4.0->textattack) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets==2.4.0->textattack) (1.3.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub<1.0.0,>=0.1.0->datasets==2.4.0->textattack) (6.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub<1.0.0,>=0.1.0->datasets==2.4.0->textattack) (4.4.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->datasets==2.4.0->textattack) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.1->textattack) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.1->textattack) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.1->textattack) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->datasets==2.4.0->textattack) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->datasets==2.4.0->textattack) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->datasets==2.4.0->textattack) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->datasets==2.4.0->textattack) (3.0.4)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 68.9 MB/s
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1
  Downloading tokenizers-0.13.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.6 MB)
     |████████████████████████████████| 7.6 MB 59.4 MB/s
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.8/dist-packages (from transformers>=4.21.0->textattack) (2022.6.2)
Requirement already satisfied: tabulate in /usr/local/lib/python3.8/dist-packages (from flair->textattack) (0.8.10)
Collecting bpemb>=0.3.2
  Downloading bpemb-0.3.4-py3-none-any.whl (19 kB)
Collecting sqlitedict>=1.6.0
  Downloading sqlitedict-2.1.0.tar.gz (21 kB)
Collecting pptree
  Downloading pptree-3.1.tar.gz (3.0 kB)
Requirement already satisfied: gdown==4.4.0 in /usr/local/lib/python3.8/dist-packages (from flair->textattack) (4.4.0)
Collecting langdetect
  Downloading langdetect-1.0.9.tar.gz (981 kB)
     |████████████████████████████████| 981 kB 60.2 MB/s
Collecting segtok>=1.5.7
  Downloading segtok-1.5.11-py3-none-any.whl (24 kB)
Collecting conllu>=4.0
  Downloading conllu-4.5.2-py2.py3-none-any.whl (16 kB)
Collecting deprecated>=1.2.4
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting sentencepiece==0.1.95
  Downloading sentencepiece-0.1.95-cp38-cp38-manylinux2014_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 53.7 MB/s
Collecting mpld3==0.3
  Downloading mpld3-0.3.tar.gz (788 kB)
     |████████████████████████████████| 788 kB 70.6 MB/s
Collecting konoha<5.0.0,>=4.0.0
  Downloading konoha-4.6.5-py3-none-any.whl (20 kB)
Requirement already satisfied: gensim>=3.4.0 in /usr/local/lib/python3.8/dist-packages (from flair->textattack) (3.6.0)
Collecting wikipedia-api
  Downloading Wikipedia-API-0.5.4.tar.gz (18 kB)
Collecting ftfy
  Downloading ftfy-6.1.1-py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 2.0 MB/s
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from flair->textattack) (4.9.1)
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.8/dist-packages (from flair->textattack) (1.0.2)
Collecting hyperopt>=0.2.7
  Downloading hyperopt-0.2.7-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 65.3 MB/s
Collecting janome
  Downloading Janome-0.4.2-py2.py3-none-any.whl (19.7 MB)
     |████████████████████████████████| 19.7 MB 1.3 MB/s
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from gdown==4.4.0->flair->textattack) (4.6.3)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.8/dist-packages (from deprecated>=1.2.4->flair->textattack) (1.14.1)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.8/dist-packages (from gensim>=3.4.0->flair->textattack) (5.2.1)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.8/dist-packages (from hyperopt>=0.2.7->flair->textattack) (1.5.0)
Requirement already satisfied: networkx>=2.2 in /usr/local/lib/python3.8/dist-packages (from hyperopt>=0.2.7->flair->textattack) (2.8.8)
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     |████████████████████████████████| 200 kB 83.0 MB/s
Requirement already satisfied: future in /usr/local/lib/python3.8/dist-packages (from hyperopt>=0.2.7->flair->textattack) (0.16.0)
Collecting requests>=2.19.0
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.9 MB/s
Collecting importlib-metadata<4.0.0,>=3.7.0
  Downloading importlib_metadata-3.10.1-py3-none-any.whl (14 kB)
Collecting overrides<4.0.0,>=3.0.0
  Downloading overrides-3.1.0.tar.gz (11 kB)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata<4.0.0,>=3.7.0->konoha<5.0.0,>=4.0.0->flair->textattack) (3.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->bert-score>=0.3.5->textattack) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->bert-score>=0.3.5->textattack) (0.11.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.21.3->flair->textattack) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.21.3->flair->textattack) (1.2.0)
Requirement already satisfied: wcwidth>=0.2.5 in /usr/local/lib/python3.8/dist-packages (from ftfy->flair->textattack) (0.2.5)
Collecting multiprocess
  Downloading multiprocess-0.70.13-py38-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 76.6 MB/s
Collecting docopt>=0.6.2
  Downloading docopt-0.6.2.tar.gz (25 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from OpenHowNet->textattack) (57.4.0)
Collecting anytree
  Downloading anytree-2.8.0-py2.py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 754 kB/s
Building wheels for collected packages: pinyin, mpld3, overrides, sqlitedict, langdetect, docopt, pptree, pycld2, wikipedia-api, word2number
  Building wheel for pinyin (setup.py) ... done
  Created wheel for pinyin: filename=pinyin-0.4.0-py3-none-any.whl size=3630495 sha256=6a423722e76aaaf3fc133762766fb9800793b491e140f9c567bfc36caae6059b
  Stored in directory: /root/.cache/pip/wheels/d1/2a/d9/9c0f787a4d55f9a9eca26d322eafbe083bab41cb9bffb2e6e8
  Building wheel for mpld3 (setup.py) ... done
  Created wheel for mpld3: filename=mpld3-0.3-py3-none-any.whl size=116702 sha256=d9b364c5d33157de603216fa69a9b9101fe42dcfcf99cc8eb098cb3831deed2e
  Stored in directory: /root/.cache/pip/wheels/3d/9f/9d/d806a20bd97bc7076d724fa3e69fa5be61836ba16b2ffa6126
  Building wheel for overrides (setup.py) ... done
  Created wheel for overrides: filename=overrides-3.1.0-py3-none-any.whl size=10187 sha256=2d3fb42c81807e1c69a61f71224274d4bd4766e4d8846d0ce6f80a6179e3d938
  Stored in directory: /root/.cache/pip/wheels/6a/4f/72/28857f75625b263e2e3f5ab2fc4416c0a85960ac6485007eaa
  Building wheel for sqlitedict (setup.py) ... done
  Created wheel for sqlitedict: filename=sqlitedict-2.1.0-py3-none-any.whl size=16869 sha256=b2740ce0040e80d4afb682762060f98280873f894665aa49067ed75a1d9a0035
  Stored in directory: /root/.cache/pip/wheels/04/c6/16/46e174009277f9bccdaa7215a243939d2f70180804b249bf3a
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.9-py3-none-any.whl size=993242 sha256=fa63e3d26b65b7a7933f152f703ace7be561c6d9532ea5235b2406f50f279439
  Stored in directory: /root/.cache/pip/wheels/13/c7/b0/79f66658626032e78fc1a83103690ef6797d551cb22e56e734
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13723 sha256=106c98bb158667b534dfb94a358d7f005c7ea5c53643d4cd0c07025b7da6e0d2
  Stored in directory: /root/.cache/pip/wheels/56/ea/58/ead137b087d9e326852a851351d1debf4ada529b6ac0ec4e8c
  Building wheel for pptree (setup.py) ... done
  Created wheel for pptree: filename=pptree-3.1-py3-none-any.whl size=4629 sha256=c06451f53e00fc588f3eb5cb03f80ec3317f7d21e37d714e00d9954e5ffdcf17
  Stored in directory: /root/.cache/pip/wheels/e1/8b/30/5b20240d3d13a9dfafb6a6dd49d1b541c86d39812cb3690edf
  Building wheel for pycld2 (setup.py) ... done
  Created wheel for pycld2: filename=pycld2-0.41-cp38-cp38-linux_x86_64.whl size=9833490 sha256=4b36ba55f88814fdbef0c0e3d8b3fab09563f2249298acc0bd93c6cf27e88623
  Stored in directory: /root/.cache/pip/wheels/2b/3a/82/d990040cbe6c3527732e931e2925785e83fe9aaa5a11c313ca
  Building wheel for wikipedia-api (setup.py) ... done
  Created wheel for wikipedia-api: filename=Wikipedia_API-0.5.4-py3-none-any.whl size=13476 sha256=9ef0f917eda964ae6213eba02fac8a2451768d3bd653b3f799fa0537da704c47
  Stored in directory: /root/.cache/pip/wheels/ed/88/e3/da3d4d73cb91d659488cfa25913b84bbc26febec99d257bce9
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5582 sha256=c891ad7edc8114e27f4f262364129662fa78a8fc3cf3a2d789ceadfd0881aa08
  Stored in directory: /root/.cache/pip/wheels/cb/f3/5a/d88198fdeb46781ddd7e7f2653061af83e7adb2a076d8886d6
Successfully built pinyin mpld3 overrides sqlitedict langdetect docopt pptree pycld2 wikipedia-api word2number
Installing collected packages: urllib3, requests, tokenizers, sentencepiece, py4j, overrides, importlib-metadata, huggingface-hub, dill, xxhash, wikipedia-api, transformers, sqlitedict, segtok, responses, pptree, multiprocess, mpld3, langdetect, konoha, janome, hyperopt, ftfy, docopt, deprecated, conllu, bpemb, anytree, word2number, terminaltables, pycld2, pinyin, OpenHowNet, num2words, lru-dict, lemminflect, language-tool-python, flair, datasets, bert-score, textattack
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 4.13.0
    Uninstalling importlib-metadata-4.13.0:
      Successfully uninstalled importlib-metadata-4.13.0
  Attempting uninstall: dill
    Found existing installation: dill 0.3.6
    Uninstalling dill-0.3.6:
      Successfully uninstalled dill-0.3.6
  Attempting uninstall: hyperopt
    Found existing installation: hyperopt 0.1.2
    Uninstalling hyperopt-0.1.2:
      Successfully uninstalled hyperopt-0.1.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
markdown 3.4.1 requires importlib-metadata>=4.4; python_version < "3.10", but you have importlib-metadata 3.10.1 which is incompatible.
gym 0.25.2 requires importlib-metadata>=4.8.0; python_version < "3.10", but you have importlib-metadata 3.10.1 which is incompatible.
Successfully installed OpenHowNet-2.0 anytree-2.8.0 bert-score-0.3.12 bpemb-0.3.4 conllu-4.5.2 datasets-2.4.0 deprecated-1.2.13 dill-0.3.5.1 docopt-0.6.2 flair-0.11.3 ftfy-6.1.1 huggingface-hub-0.11.1 hyperopt-0.2.7 importlib-metadata-3.10.1 janome-0.4.2 konoha-4.6.5 langdetect-1.0.9 language-tool-python-2.7.1 lemminflect-0.2.3 lru-dict-1.1.8 mpld3-0.3 multiprocess-0.70.13 num2words-0.5.12 overrides-3.1.0 pinyin-0.4.0 pptree-3.1 py4j-0.10.9.7 pycld2-0.41 requests-2.28.1 responses-0.18.0 segtok-1.5.11 sentencepiece-0.1.95 sqlitedict-2.1.0 terminaltables-3.1.10 textattack-0.3.8 tokenizers-0.13.2 transformers-4.25.1 urllib3-1.25.11 wikipedia-api-0.5.4 word2number-1.1 xxhash-3.1.0

In [ ]:
import os
import pandas as pd
import numpy as np
from skimage.io import imread, imshow
from skimage import filters
from skimage import feature
from skimage.filters import prewitt_h,prewitt_v
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
import pickle
import re
import warnings
warnings.filterwarnings("ignore")
from textattack.augmentation import WordNetAugmenter
from textattack.augmentation import EasyDataAugmenter

textattack: Updating TextAttack package dependencies.
textattack: Downloading NLTK required packages.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package omw to /root/nltk_data...
[nltk_data] Downloading package universal_tagset to /root/nltk_data...
[nltk_data]   Unzipping taggers/universal_tagset.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
!gdown 19xH2647kd7hVO7GcpuLDzuqZ9_UelHuq
# https://drive.google.com/file/d/19xH2647kd7hVO7GcpuLDzuqZ9_UelHuq/view?usp=share_link

Downloading...
From: https://drive.google.com/uc?id=19xH2647kd7hVO7GcpuLDzuqZ9_UelHuq
To: /content/final_end.csv
100% 468k/468k [00:00<00:00, 163MB/s]

In [ ]:
df = pd.read_csv("final_end.csv")
df.head(5)

,Unnamed: 0,text_corrected,overall_sentiment
0,0,look friend lighter sohalikut trend play years...,very_positive
1,1,best yearchallenge completed less years lupus ...,very_positive
2,2,sam throne stripping follow saw everyone posti...,positive
3,3,year challenge sweet see edition,positive
4,4,year challenge filter hilarious metes,neutral

In [ ]:
s={'very_positive':1,'positive':1, 'neutral':0,'negative':-1,'very_negative':-1}
df["overall_sentiment"]=df["overall_sentiment"].map(s)
df

,Unnamed: 0,text_corrected,overall_sentiment
0,0,look friend lighter sohalikut trend play years...,1
1,1,best yearchallenge completed less years lupus ...,1
2,2,sam throne stripping follow saw everyone posti...,1
3,3,year challenge sweet see edition,1
4,4,year challenge filter hilarious metes,0
...,...,...,...
6981,6987,tuesday made gras wednesday valentine friday c...,0
6982,6988,must watch moves chennai metes maanagaram hand...,0
6983,6989,less talking planning soda june food complaini...,1
6984,6990,time fantasy one unless make arhtisticlicensecom,1
6985,6991,starting point every good idea artistic licens...,1

In [ ]:
correct = df.loc[df['overall_sentiment'] == -1]
correct

,Unnamed: 0,text_corrected,overall_sentiment
5,5,dont get car strangers meet people internet al...,-1
6,6,years challenge lit b berg transformation,-1
10,10,probably first man year challenge chennai pasa...,-1
14,14,antivaxx kiss see someone year challenge,-1
49,49,hawkers important infinity war though,-1
...,...,...,...
6954,6960,face friend gives crush walks room,-1
6955,6961,nightmare made,-1
6959,6965,baby mr bean funny picture,-1
6965,6971,face memecentercom substitute path class,-1
6976,6982,still know nothing,-1

In [ ]:
# wordnet_aug = WordNetAugmenter()
eda_aug = EasyDataAugmenter()
new = []

for i in range(len(correct.index.values)):
  rephrased = eda_aug.augment(str(correct.iloc[i,1]))
  new.append(rephrased)

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

In [ ]:
temp = df.drop(["Unnamed: 0"],axis=1).copy(deep=True)
temp

                                         text_corrected  overall_sentiment
0     look friend lighter sohalikut trend play years...                  1
1     best yearchallenge completed less years lupus ...                  1
2     sam throne stripping follow saw everyone posti...                  1
3                      year challenge sweet see edition                  1
4                 year challenge filter hilarious metes                  0
...                                                 ...                ...
6981  tuesday made gras wednesday valentine friday c...                  0
6982  must watch moves chennai metes maanagaram hand...                  0
6983  less talking planning soda june food complaini...                  1
6984   time fantasy one unless make arhtisticlicensecom                  1
6985  starting point every good idea artistic licens...                  1

[6986 rows x 2 columns]

In [ ]:
for i in range(len(new)):
  temp = temp.append({"text_corrected": new[i][0],"overall_sentiment" : -1},ignore_index=True)
temp

                                         text_corrected  overall_sentiment
0     look friend lighter sohalikut trend play years...                  1
1     best yearchallenge completed less years lupus ...                  1
2     sam throne stripping follow saw everyone posti...                  1
3                      year challenge sweet see edition                  1
4                 year challenge filter hilarious metes                  0
...                                                 ...                ...
7612                 gives friend face crush walks room                 -1
7613                                         nightmare                  -1
7614                         baby bean mr funny picture                 -1
7615       face way memecentercom substitute path class                 -1
7616                         still relieve know nothing                 -1

[7617 rows x 2 columns]

In [ ]:
temp.to_csv('finale_text.csv')

In [ ]:
df.shape

(6986, 3)

In [ ]:
temp.shape

(7617, 2)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
temp = temp.dropna(subset=["text_corrected"])
vectorizer = TfidfVectorizer(lowercase=True)
X = vectorizer.fit_transform(temp['text_corrected'])
y = temp["overall_sentiment"]

In [ ]:
df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())
df.tail(5)

,3rd,aaaaaaaaa,aaaaaaaaaaand,aaaaaaaahhh,aaaaaaaand,aaaand,aaaargh,aah,aaron,aasldfliksdfjalsdfkis,...,zone,zubova,zuckerberg,zuckerbergexe,zuckerbergmemes,zuckerbergts,zuckerburg,zuckerphobia,zukerberg,zxcvbnm
7603,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7604,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7605,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.iloc[len(df.index.values)-1]

3rd              0.0
aaaaaaaaa        0.0
aaaaaaaaaaand    0.0
aaaaaaaahhh      0.0
aaaaaaaand       0.0
                ...
zuckerbergts     0.0
zuckerburg       0.0
zuckerphobia     0.0
zukerberg        0.0
zxcvbnm          0.0
Name: 7607, Length: 9961, dtype: float64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30,shuffle=True)
print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)
y_train.value_counts()

Shape of X_train =  (5325, 9978)
Shape of y_train =  (5325,)
Shape of X_test =  (2283, 9978)
Shape of y_test =  (2283,)

 1    2906
 0    1551
-1     868
Name: overall_sentiment, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=15)
clf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=15)

In [ ]:
pred=clf.predict(X_test)
clf.score(X_test,y_test)
print ("Accuracy : " , accuracy_score(y_test,pred)*100)  
print("Report : \n", classification_report(y_test,pred))
print("F1 Score : ",f1_score(y_test, pred, average='macro')*100)
print(confusion_matrix(y_test,pred))

Accuracy :  58.86990801576872
Report :
               precision    recall  f1-score   support

          -1       0.80      0.54      0.64       393
           0       0.33      0.15      0.21       647
           1       0.60      0.83      0.70      1243

    accuracy                           0.59      2283
   macro avg       0.58      0.51      0.52      2283
weighted avg       0.56      0.59      0.55      2283

F1 Score :  51.70262252472292
[[ 211   27  155]
 [  21  100  526]
 [  32  178 1033]]

In [ ]:
import pickle
Pkl_Filename = "random_forest_text.pkl"  

with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(clf, file)

In [ ]:
from sklearn.linear_model import SGDClassifier
sgdc = SGDClassifier(loss='hinge',penalty='elasticnet',alpha=0.00001)
sgdc.fit(X_train,y_train)

SGDClassifier(alpha=1e-05, penalty='elasticnet')

In [ ]:
pred=sgdc.predict(X_test)
sgdc.score(X_test,y_test)
print ("Accuracy : " , accuracy_score(y_test,pred)*100)  
print("Report : \n", classification_report(y_test,pred))
print("F1 Score : ",f1_score(y_test, pred, average='macro')*100)
print(confusion_matrix(y_test,pred))

Accuracy :  52.25580376697329
Report :
               precision    recall  f1-score   support

          -1       0.57      0.64      0.60       374
           0       0.32      0.31      0.32       640
           1       0.61      0.59      0.60      1269

    accuracy                           0.52      2283
   macro avg       0.50      0.51      0.51      2283
weighted avg       0.52      0.52      0.52      2283

F1 Score :  50.72876860864827
[[238  37  99]
 [ 54 201 385]
 [122 393 754]]

In [ ]:
import pickle
Pkl_Filename = "sgdc_text.pkl"  

with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(sgdc, file)

In [ ]:
from sklearn import tree
dtc = tree.DecisionTreeClassifier(criterion = 'gini')
dtc.fit(X_train,y_train)

DecisionTreeClassifier()

In [ ]:
pred=dtc.predict(X_test)
dtc.score(X_test,y_test)
print ("Accuracy : " , accuracy_score(y_test,pred)*100)  
print("Report : \n", classification_report(y_test,pred))
print("F1 Score : ",f1_score(y_test, pred, average='macro')*100)
print(confusion_matrix(y_test,pred))

Accuracy :  51.68637757336837
Report :
               precision    recall  f1-score   support

          -1       0.53      0.54      0.53       376
           0       0.29      0.24      0.26       651
           1       0.61      0.65      0.63      1256

    accuracy                           0.52      2283
   macro avg       0.47      0.48      0.48      2283
weighted avg       0.50      0.52      0.51      2283

F1 Score :  47.50421099808847
[[203  67 106]
 [ 67 157 427]
 [114 322 820]]

In [ ]:
import pickle
Pkl_Filename = "dtc_text.pkl"  

with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(dtc, file)