In [ ]:
!gdown 1c8joDgS0kVTzwTtJBM3dTSYK1tWC_vTj
# https://drive.google.com/file/d/1c8joDgS0kVTzwTtJBM3dTSYK1tWC_vTj/view?usp=share_link

Downloading...
From: https://drive.google.com/uc?id=1c8joDgS0kVTzwTtJBM3dTSYK1tWC_vTj
To: /content/cleaned_text3.csv
100% 468k/468k [00:00<00:00, 76.1MB/s]

In [ ]:
# https://drive.google.com/file/d/1jgdB8TmvUg92JObjOQTm3zxJrRzQ4Hvu/view?usp=share_link
!gdown 1jgdB8TmvUg92JObjOQTm3zxJrRzQ4Hvu

Downloading...
From: https://drive.google.com/uc?id=1jgdB8TmvUg92JObjOQTm3zxJrRzQ4Hvu
To: /content/final.csv
100% 1.33M/1.33M [00:00<00:00, 144MB/s]

In [ ]:
from textblob import TextBlob
import nltk.corpus
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer

from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
from collections import OrderedDict
from nltk.corpus import words
word =  words.words()

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('words')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

True

In [ ]:
import os
import pandas as pd
import numpy as np
from skimage.io import imread, imshow
from skimage import filters
from skimage import feature
from skimage.filters import prewitt_h,prewitt_v
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
import pickle
import re

In [ ]:
df = pd.read_csv('final.csv')
df = df.dropna(subset=["text_corrected"])
df

,Unnamed: 0,image_name,text_ocr,text_corrected,overall_sentiment
0,0,image_1.jpg,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...,very_positive
1,1,image_2.jpeg,The best of #10 YearChallenge! Completed in le...,The best of #10 YearChallenge! Completed in le...,very_positive
2,2,image_3.JPG,Sam Thorne @Strippin ( Follow Follow Saw every...,Sam Thorne @Strippin ( Follow Follow Saw every...,positive
3,3,image_4.png,10 Year Challenge - Sweet Dee Edition,10 Year Challenge - Sweet Dee Edition,positive
4,4,image_5.png,10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...,10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...,neutral
...,...,...,...,...,...
6987,6987,image_6988.jpg,Tuesday is Mardi Gras Wednesday is Valentine's...,Tuesday is Mardi Gras Wednesday is Valentine's...,neutral
6988,6988,image_6989.jpg,MUST WATCH MOVIES OF 2017 ITI Chennai memes MA...,MUST WATCH MOVIES OF 2017 ITI Chennai memes MA...,neutral
6989,6989,image_6990.png,LESS MORE TALKING PLANNING SODA JUNK FOOD COMP...,LESS MORE TALKING PLANNING SODA JUNK FOOD COMP...,positive
6990,6990,image_6991.jpg,When I VERY have time is a fantasy No one has ...,When I have time is a fantasy. no one has time...,very_positive
6991,6991,image_6992.jpg,"The starting point for every good idea is ""Wha...","The starting point for every good idea is ""Wha...",positive

In [ ]:
cpy = df.copy(deep = True)
length = []
for i in range(len(cpy.index.values)):
  length.append(len(cpy.iloc[i,3]))
cpy['length'] = length
cpy

,Unnamed: 0,image_name,text_ocr,text_corrected,overall_sentiment,length
0,0,image_1.jpg,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...,very_positive,106
1,1,image_2.jpeg,The best of #10 YearChallenge! Completed in le...,The best of #10 YearChallenge! Completed in le...,very_positive,128
2,2,image_3.JPG,Sam Thorne @Strippin ( Follow Follow Saw every...,Sam Thorne @Strippin ( Follow Follow Saw every...,positive,157
3,3,image_4.png,10 Year Challenge - Sweet Dee Edition,10 Year Challenge - Sweet Dee Edition,positive,37
4,4,image_5.png,10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...,10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...,neutral,99
...,...,...,...,...,...,...
6987,6987,image_6988.jpg,Tuesday is Mardi Gras Wednesday is Valentine's...,Tuesday is Mardi Gras Wednesday is Valentine's...,neutral,208
6988,6988,image_6989.jpg,MUST WATCH MOVIES OF 2017 ITI Chennai memes MA...,MUST WATCH MOVIES OF 2017 ITI Chennai memes MA...,neutral,168
6989,6989,image_6990.png,LESS MORE TALKING PLANNING SODA JUNK FOOD COMP...,LESS MORE TALKING PLANNING SODA JUNK FOOD COMP...,positive,327
6990,6990,image_6991.jpg,When I VERY have time is a fantasy No one has ...,When I have time is a fantasy. no one has time...,very_positive,90
6991,6991,image_6992.jpg,"The starting point for every good idea is ""Wha...","The starting point for every good idea is ""Wha...",positive,77

In [ ]:
cpy = cpy.sort_values(by=['length'], ascending=False)
cpy

,Unnamed: 0,image_name,text_ocr,text_corrected,overall_sentiment,length
3178,3178,image_3179.jpg,A LOO WITH A VIEW: The mystery dumper lays cab...,A LOO WITH A VIEW: The mystery dumper lays cab...,positive,1026
3030,3030,image_3031.png,IMAGINE IF PRESIDENT OBAMA: Mange your - HAD B...,IMAGINE IF PRESIDENT OBAMA: Mange your - HAD B...,positive,545
722,722,image_723.png,friends hgcaps My wife's an incredible woman. ...,friends hgcaps My wife's an incredible woman. ...,very_positive,508
6614,6614,image_6615.jpg,Here's to the girls: To the girls who don't wa...,Here's to the girls: To the girls who don't wa...,positive,504
4159,4159,image_4160.jpg,3:00 Außerhalb Lang TWANT YOU TO DRAW ME Quick...,3:00 Außerhalb Lang TWANT YOU TO DRAW ME Quick...,positive,482
...,...,...,...,...,...,...
5663,5663,image_5664.jpg,SOON,SOON,very_positive,4
6828,6828,image_6829.jpg,OKAY,OKAY,very_positive,4
658,658,image_659.jpg,NaN,NO.,positive,3
4463,4463,image_4464.jpg,Me,Me,negative,2
587,587,image_588.jpg,HI,HI,positive,2

In [ ]:
# df = df.drop(labels=3178, axis=0)
cpy.head(10)

,Unnamed: 0,image_name,text_ocr,text_corrected,overall_sentiment,length
3178,3178,image_3179.jpg,A LOO WITH A VIEW: The mystery dumper lays cab...,A LOO WITH A VIEW: The mystery dumper lays cab...,positive,1026
3030,3030,image_3031.png,IMAGINE IF PRESIDENT OBAMA: Mange your - HAD B...,IMAGINE IF PRESIDENT OBAMA: Mange your - HAD B...,positive,545
722,722,image_723.png,friends hgcaps My wife's an incredible woman. ...,friends hgcaps My wife's an incredible woman. ...,very_positive,508
6614,6614,image_6615.jpg,Here's to the girls: To the girls who don't wa...,Here's to the girls: To the girls who don't wa...,positive,504
4159,4159,image_4160.jpg,3:00 Außerhalb Lang TWANT YOU TO DRAW ME Quick...,3:00 Außerhalb Lang TWANT YOU TO DRAW ME Quick...,positive,482
338,338,image_339.jpg,WHAT HAPPENED THE MAJOR MOTION PICTURE RELEASE...,WHAT HAPPENED THE MAJOR MOTION PICTURE RELEASE...,positive,448
6015,6015,image_6016.jpg,Adolf Hitler Bernie Sanders • Believed state p...,Adolf Hitler Bernie Sanders • Believed state p...,very_positive,426
3042,3042,image_3043.png,BARACK OBAMA: “WE DIDN'T HAVE A SCANDAL THAT E...,BARACK OBAMA: “WE DIDN'T HAVE A SCANDAL THAT E...,positive,419
450,450,image_451.jpg,This is Bill. This is Bill. Bill likes running...,This is Bill. This is Bill. Bill likes running...,very_positive,410
449,449,image_450.jpg,This is Bill. This is Bill. Bill likes running...,This is Bill. This is Bill. Bill likes running...,very_positive,410

In [ ]:
df = df.drop([3178,3030,722,6614])
df

,Unnamed: 0,image_name,text_ocr,text_corrected,overall_sentiment
0,0,image_1.jpg,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...,very_positive
1,1,image_2.jpeg,The best of #10 YearChallenge! Completed in le...,The best of #10 YearChallenge! Completed in le...,very_positive
2,2,image_3.JPG,Sam Thorne @Strippin ( Follow Follow Saw every...,Sam Thorne @Strippin ( Follow Follow Saw every...,positive
3,3,image_4.png,10 Year Challenge - Sweet Dee Edition,10 Year Challenge - Sweet Dee Edition,positive
4,4,image_5.png,10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...,10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...,neutral
...,...,...,...,...,...
6987,6987,image_6988.jpg,Tuesday is Mardi Gras Wednesday is Valentine's...,Tuesday is Mardi Gras Wednesday is Valentine's...,neutral
6988,6988,image_6989.jpg,MUST WATCH MOVIES OF 2017 ITI Chennai memes MA...,MUST WATCH MOVIES OF 2017 ITI Chennai memes MA...,neutral
6989,6989,image_6990.png,LESS MORE TALKING PLANNING SODA JUNK FOOD COMP...,LESS MORE TALKING PLANNING SODA JUNK FOOD COMP...,positive
6990,6990,image_6991.jpg,When I VERY have time is a fantasy No one has ...,When I have time is a fantasy. no one has time...,very_positive
6991,6991,image_6992.jpg,"The starting point for every good idea is ""Wha...","The starting point for every good idea is ""Wha...",positive

In [ ]:
df = df.dropna(subset=["text_corrected"])
df

,Unnamed: 0,image_name,text_ocr,text_corrected,overall_sentiment
0,0,image_1.jpg,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...,very_positive
1,1,image_2.jpeg,The best of #10 YearChallenge! Completed in le...,The best of #10 YearChallenge! Completed in le...,very_positive
2,2,image_3.JPG,Sam Thorne @Strippin ( Follow Follow Saw every...,Sam Thorne @Strippin ( Follow Follow Saw every...,positive
3,3,image_4.png,10 Year Challenge - Sweet Dee Edition,10 Year Challenge - Sweet Dee Edition,positive
4,4,image_5.png,10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...,10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...,neutral
...,...,...,...,...,...
6987,6987,image_6988.jpg,Tuesday is Mardi Gras Wednesday is Valentine's...,Tuesday is Mardi Gras Wednesday is Valentine's...,neutral
6988,6988,image_6989.jpg,MUST WATCH MOVIES OF 2017 ITI Chennai memes MA...,MUST WATCH MOVIES OF 2017 ITI Chennai memes MA...,neutral
6989,6989,image_6990.png,LESS MORE TALKING PLANNING SODA JUNK FOOD COMP...,LESS MORE TALKING PLANNING SODA JUNK FOOD COMP...,positive
6990,6990,image_6991.jpg,When I VERY have time is a fantasy No one has ...,When I have time is a fantasy. no one has time...,very_positive
6991,6991,image_6992.jpg,"The starting point for every good idea is ""Wha...","The starting point for every good idea is ""Wha...",positive

In [ ]:
needed = df[['text_corrected','overall_sentiment']].copy(deep=True)
needed

                                         text_corrected overall_sentiment
0     LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...     very_positive
1     The best of #10 YearChallenge! Completed in le...     very_positive
2     Sam Thorne @Strippin ( Follow Follow Saw every...          positive
3                 10 Year Challenge - Sweet Dee Edition          positive
4     10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...           neutral
...                                                 ...               ...
6987  Tuesday is Mardi Gras Wednesday is Valentine's...           neutral
6988  MUST WATCH MOVIES OF 2017 ITI Chennai memes MA...           neutral
6989  LESS MORE TALKING PLANNING SODA JUNK FOOD COMP...          positive
6990  When I have time is a fantasy. no one has time...     very_positive
6991  The starting point for every good idea is "Wha...          positive

[6983 rows x 2 columns]

In [ ]:
import string
def clean(x):
    stop = stopwords.words('english')
    x = x.lower()
    tokens = nltk.word_tokenize(x)
    removed = []
    for i in tokens:
      if i.startswith('@') == False and i.endswith('.com') == False:
        removed.append(i)
    
    y = ' '.join(removed)


    combine = []
    y = y.translate(str.maketrans('','',string.punctuation)) # removing punctuations

    y = nltk.word_tokenize(y)
    used = set()
    clear = []
    for words in y:
      if words not in used:
        used.add(words)
        clear.append(words)
    y = ' '.join(clear)

    y = ''.join([i for i in y if not i.isdigit()])
    y = " ".join(y.split())

    y = re.sub(r"(@\[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", y) #removing links and emojis nd ascii

    corr = TextBlob(y)
    y = corr.correct()

    keep = []
    for w in y.split():
      if w not in stop:
        keep.append(w)
    y = " ".join(keep)
    y = nltk.word_tokenize(y)
    
    
    snow_stemmer = SnowballStemmer('english')
    p = [snow_stemmer.stem(t) for t in y]
    y = " ".join(p)
    return y



cleaned = [] 
for i in range(len(needed.index.values)):
    cleaned.append(clean(needed.iloc[i,0]))
needed['text_corrected'] = cleaned

In [ ]:
clean('1998: "Dont get in car with strangers 2008: Dont meet people from the internet alone. MemeCenter.com 2019: UBER.. Order yourself a stranger from the internet to get into a car with alone.')

'dont get car stranger meet peopl internet alon user order stranger'

In [ ]:
needed

                                         text_corrected overall_sentiment
0     look friend lighter sohalikut trend play year ...     very_positive
1     best yearchalleng complet less year lupus nare...     very_positive
2     sam throne strip follow saw everyon post vs pi...          positive
3                          year challeng sweet see edit          positive
4                      year challeng filter hilari mete           neutral
...                                                 ...               ...
6987  tuesday made gras wednesday valentin friday ch...           neutral
6988  must watch move chennai mete maanagaram hand d...           neutral
6989  less talk plan soda june food complain worri d...          positive
6990                       time fantasi one unless make     very_positive
6991                 start point everi good idea artist          positive

[6983 rows x 2 columns]

In [ ]:
needed = pd.read_csv("cleaned_text3.csv")
needed = needed.dropna(subset=["text_corrected"])
needed['overall_sentiment'].unique()

array(['very_positive', 'positive', 'neutral', 'negative',
       'very_negative'], dtype=object)

In [ ]:
s={'very_positive':1,'positive':1, 'neutral':0,'negative':-1,'very_negative':-1}
needed["overall_sentiment"]=needed["overall_sentiment"].map(s)
needed

,Unnamed: 0,text_corrected,overall_sentiment
0,0,look friend lighter sohalikut trend play years...,1
1,1,best yearchallenge completed less years lupus ...,1
2,2,sam throne stripping follow saw everyone posti...,1
3,3,year challenge sweet see edition,1
4,4,year challenge filter hilarious metes,0
...,...,...,...
6981,6987,tuesday made gras wednesday valentine friday c...,0
6982,6988,must watch moves chennai metes maanagaram hand...,0
6983,6989,less talking planning soda june food complaini...,1
6984,6990,time fantasy one unless make arhtisticlicensecom,1
6985,6991,starting point every good idea artistic licens...,1

In [ ]:
needed.to_csv('cleaned_text_kill.csv')